.App {
  font-family: 'Zilla slab', serif;
}

.view, #selector {
  margin: 10px;
}

.version-selector {
  display: inline-block;
}

.channel-selector {
  margin: 10px 0 10px 10px;
  display: inline-block;
}

.metric-description {
  font-style: italic;
  margin-top: 1em;
}

.metric-name {
  font-style: italic;
}

.category-label {
  font-style: italic;
}

.nav-tabs > li:first-child {
  margin-inline-start: 1em;
}
